# Directorio del entorno virtual
venv/
.env/

# Archivos de compilación y caché
__pycache__/
*.pyc
*.pyo
*.pyd

# Archivos de configuración de IDE
.vscode/
.idea/

# Archivos sensibles
config.py

# Dependencias
*.egg-info/
*.egg
*.dist-info/
