<footer class="footer">

    <div class="content has-text-centered">
      <p><strong>Desarrollador</strong> por <a href="">{{nombreDesarrollador}}</a> </p>
      <p>Esta es una prueba en caliente de desarrollo con el framework flask de python y bulma framework <br>
          sigueindo el curso de {{nombreCurso}}
      </p>
      <p>
        <strong>Bulma</strong> de <a href="https://jgthms.com">Jeremy Thomas</a>.
        El codigo fuente esta bajo licencia
        <a href="https://opensource.org/license/mit">MIT</a>. el
        contenido del sitio web esta bajo licencia
        <a href="https://creativecommons.org/licenses/by-nc-sa/4.0//">CC BY NC SA 4.0</a>.
      </p>
    </div>

  </footer>

</body>

</html>