<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Mi Sitio{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    {% include 'landing/modules/header.html' %}
    {% include 'landing/modules/navbar.html' %}
    <main>
        {% block content %}
        <!-- Aquí va el contenido dinámico de cada página -->
        {% endblock %}
    </main>
    {% include 'landing/modules/footer.html' %}
</body>
</html>
