{% extends "layout.html" %}
<!-- Indica que esta plantilla hereda de 'layout.html'. 'layout.html' debe contener la estructura básica de la página, como la cabecera y el pie de página. -->

{% block title %}Página de Inicio{% endblock %}
<!-- Define el contenido del bloque 'title', que se insertará en la sección correspondiente de 'layout.html'. En este caso, el título de la página será "Página de Inicio". -->

{% block content %}
<!-- Inicia el bloque de contenido llamado 'content'. Este bloque se rellenará con contenido específico de esta página en particular. -->

<h1>Bienvenido, {{ username }} !</h1>
<!-- Muestra un encabezado de nivel 1 con un mensaje de bienvenida que incluye una variable dinámica {{ username }}. La variable 'username' se pasará desde la vista de Flask y se usará para personalizar el saludo. -->

<h2>Bienvenido a la Página de Inicio</h2>
<!-- Muestra un encabezado de nivel 2 con un mensaje estático. Este título adicional da contexto sobre la página actual y permanece constante. -->

<p>Esta es la página principal de nuestro sitio web.</p>
<!-- Muestra un párrafo de texto con una descripción estática de la página principal. Proporciona información adicional sobre la página actual. -->

{% endblock %}
<!-- Cierra el bloque 'content', indicando el final del contenido específico para esta plantilla. Flask/Jinja2 usará esta sección para insertar el contenido en la plantilla base 'layout.html'. -->
